---
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";
const { baseUrl, companiesText, companiesUrl, hackersText, hackersUrl } =
    Astro.props;
---

<header
    class="w-full flex flex-row items-center justify-between px-4 sm:px-24 h-[80px]"
>
    <a href={baseUrl} class="lg:w-[240px] flex flex-row items-center gap-3">
        <Image
            loading="eager"
            src={logo}
            alt="logo"
            width={24}
            height={24}
            class="w-6 h-6"
        />
        <h1
            class="hidden sm:block font-[Red_Hat_Mono] select-none uppercase font-bold text-white"
        >
            Secur0
        </h1>
    </a>
    <div
        class="flex flex-row gap-1 text-gray-300 font-normal hover:text-white cursor-pointer"
    >
        <a
            href={Astro.url.pathname === "/en/hackers" ? "/hackers" : "/"}
            class="flex flex-row items-center gap-2"
        >
            <img
                src="/src/assets/spanish.webp"
                alt="Change to spanish"
                class={`w-6 h-6 ${Astro.url.pathname === "/" || Astro.url.pathname === "/hackers" ? "border-b-2 border-white" : ""}`}
            />
        </a>
        <a
            href={Astro.url.pathname === "/hackers" ? "/en/hackers" : "/"}
            class="flex flex-row items-center gap-2"
        >
            <img
                src="/src/assets/english.webp"
                alt="Cambiar a inglés"
                class={`w-6 h-6 ${Astro.url.pathname === "/en" || Astro.url.pathname === "/en/hackers" ? "border-b-2 border-white" : ""}`}
            />
        </a>
    </div>
    <nav class="sm:w-[240px] flex flex-row items-center gap-2 sm:gap-4">
        <a
            href={companiesUrl}
            class={Astro.url.pathname === companiesUrl
                ? "text-white font-black"
                : "text-gray-300 font-normal hover:text-white"}
        >
            {companiesText}
        </a>
        <a
            href={hackersUrl}
            class={Astro.url.pathname === hackersUrl ||
            Astro.url.pathname === "/hackers/"
                ? "text-white font-black"
                : "text-gray-300 font-normal  hover:text-white"}
        >
            {hackersText}
        </a>
    </nav>
</header>
