---
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";
const { baseUrl, companiesText, companiesUrl, hackersText, hackersUrl } = Astro.props;

const isSpanish = () => {
    return !Astro.url.pathname.includes("/en");
}
const spanishRedirect = () => {
    if (Astro.url.pathname === "/en")
        return "/";
    else if (Astro.url.pathname === "/en/hackers")
        return "/hackers";
    else if (Astro.url.pathname === "/en/legal/terms-and-conditions")
            return "/legal/terms-and-conditions";
    else if (Astro.url.pathname === "/en/legal/privacy-policy")
            return "/legal/privacy-policy";
    return Astro.url.pathname;
}

const isEnglish = () => {
    return Astro.url.pathname.includes("/en");
}
const englishRedirect = () => {
    if (Astro.url.pathname === "/")
        return "/en";
    else if (Astro.url.pathname === "/hackers")
        return "/en/hackers";
    else if (Astro.url.pathname === "/legal/terms-and-conditions")
            return "/en/legal/terms-and-conditions";
    else if (Astro.url.pathname === "/legal/privacy-policy")
            return "/en/legal/privacy-policy";
    return Astro.url.pathname;
}
---

<header
    class="w-full flex flex-row items-center justify-between px-4 sm:px-24 h-[80px]"
>
    <a href={baseUrl} class="lg:w-[240px] flex flex-row items-center gap-3">
        <Image
            loading="eager"
            src={logo}
            alt="logo"
            width={24}
            height={24}
            class="w-6 h-6"
        />
        <h1
            class="hidden sm:block font-[Red_Hat_Mono] select-none uppercase font-bold text-white"
        >
            Secur0
        </h1>
    </a>
    <div
        class="flex flex-row gap-1 text-gray-300 font-normal hover:text-white cursor-pointer"
    >
        <a
            href={spanishRedirect()}
            class="flex flex-row items-center gap-2"
        >
            <img
                src="/src/assets/spanish.webp"
                alt="Change to spanish"
                class={`w-6 h-6 ${isSpanish() ? "border-b-2 border-white" : ""}`}
            />
        </a>
        <a
            href={englishRedirect()}
            class="flex flex-row items-center gap-2"
        >
            <img
                src="/src/assets/english.webp"
                alt="Cambiar a inglés"
                class={`w-6 h-6 ${isEnglish() ? "border-b-2 border-white" : ""}`}
            />
        </a>
    </div>
    <nav class="sm:w-[240px] flex flex-row items-center gap-2 sm:gap-4">
        <a
            href={companiesUrl}
            class={Astro.url.pathname === companiesUrl
                ? "text-white font-black"
                : "text-gray-300 font-normal hover:text-white"}
        >
            {companiesText}
        </a>
        <a
            href={hackersUrl}
            class={Astro.url.pathname === hackersUrl ||
            Astro.url.pathname === "/hackers/"
                ? "text-white font-black"
                : "text-gray-300 font-normal  hover:text-white"}
        >
            {hackersText}
        </a>
    </nav>
</header>
